* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}
@keyframes blink{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
html{
    scrollbar-width: none;
}
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-mo{
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 10px 80px #d7d7d7;
}
.cart-header{
    height: 40px;
    width: 40px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    display: none;
    position: relative;
    cursor: pointer;
}
.cart-header i{
    color: #fff;
    font-size: 18px;
}
.z-cart-header{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: #08f;
    font-size: 14px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -18px;
    right: -5px;
}
.shopping-cart{
    height: 170px;
    width: 360px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 70px;
    left: 40px;
    border: 1px solid #000;
    padding: 20px;
    z-index: 100;
    display: none;
    transition: 0.3s ease-in-out;
}
.cart-header:hover + .shopping-cart , .shopping-cart:hover{
    display: block;
    transition: 0.3s ease-in-out;
}
.shopping-cart div{
    width: 100%;
    height: 100%;
    border: 1px solid #a3a3a3;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}
.shopping-cart div i{
    color: #898989;
    margin-top: 30px;
    font-size: 50px;
}
#toggle{
    display: none;
}
.humber{
    height: 40px;
    width: 40px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    display: none;
    cursor:pointer;
}
.fa-bars{
    color: #fff !important;
    font-size: 20px !important;
}
.ins-humber{
    /* position: absolute; */
    position: fixed;
    display: none;
    align-items: stretch;
    height: 100%;
    max-height: 1900px;
    width: 100%;
    left: 0;
    bottom: 0 !important;
    z-index: 101;
    overflow-y: scroll;
    scrollbar-width: none;
}
#toggle:checked ~ .ins-humber{
    display: flex;
}
.ins-humber-left{
    width: 40%;
    opacity: 0.6;
    background-color: #000; 
}
.ins-humber-left label{
    display: block;
    width: 100%;
    height: 100%;
}
.ins-humber-right{
    width: 60%;
    background-color: #000;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
    z-index: 1;
    overflow-y: scroll;
    scrollbar-width: none;
}
.no-scroll {
  position: fixed;
  width: 100%;
  overflow: hidden;
}
.ins-humber-right * {
    pointer-events: all;
}
.ins-humber-top{
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 100%;
    height: max-content;
}
.ins-humber-top-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    width: 100%;
    color: #ddd;
}
.ins-humber-top-child:hover{
    background-color: #fff;
    color: #000;
    border-radius: 80px;
}
.ins-humber-top-child:hover i{
    color: #000;
}
.ins-humber-top-child i{
    color: #ddd;
    font-size: 14px;
}
.active-humber i{
    color: #000 !important;
}
.active-humber{
    background-color: #fff;
    color: #000;
    border-radius: 80px;
}
.socialmedia-header{
    display: flex;
    justify-content: center;
}
.socialmedia-header a{
    text-decoration: none;
}
.socialmedia-header div{
    background-color: #0b161f;
    color: #fff;
}
.ins-humber-buttom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.ins-humber-buttom p{
    color: #ddd;
}
.div-collections-humber{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}
.quickfind-header-child , .div-collections-humber{
    display: none;
}
#quick-toggle:checked ~ .quickfind-header-child ,
#collections-toggle:checked ~ .div-collections-humber{
    display: flex;
    flex-direction: column;
}
.quickfind-header-child label:hover{
    background-color: #000;
    color: #fff;
}
.quickfind-header-child label:hover i{
    color: #fff;
}
.a-categories-header , .a-tags-header , .a-pages-header , .a-dropdown-header{
    display:none;
    flex-direction: column;
    padding-left: 20px;
}
.dropdown-header{
    display: flex;
    justify-content: space-between;
}
.a-categories-header div , .a-tags-header div , .a-pages-header div , .dropdown-header p , .a-dropdown-header div{
    height: 30px;
    transition: all 0.3s ease;
}
.active-link-header{
    padding-left: 20px;
}
.a-dropdown-header{
    height: 90px !important;
    padding-left: 0 !important;
}
.a-categories-header div a , .a-tags-header div a , .a-pages-header div a , .dropdown-header p , .dropdown-header i , .a-home-humber{
    text-decoration: none;
    color: #888;
}
.a-categories-header div:hover , .a-tags-header div:hover , .a-pages-header div:hover , .dropdown-header p:hover{
    transition: all 0.3s ease;
    padding-left: 20px;
    cursor: pointer;
}
#categories-toggle:checked ~ .a-categories-header ,
#tags-toggle:checked ~ .a-tags-header ,
#pages-toggle:checked ~ .a-pages-header ,
#dropdown-toggle:checked ~ .a-dropdown-header{
    display: flex;
}
#dropdown-toggle:checked ~ .dropdown-header p{
    padding-left: 20px;
}
.header-home {
    width: 1265px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-header {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 20px;
}
.list-header li a {
    text-decoration: none;
    font-size: 16px;
    color: #a3a3a3;
    font-weight: 500;
}
/* blog */
.home-header-b:hover span{
    border-top: 1px solid #e4e4e4 !important;
    border-bottom: 1px solid #e4e4e4 !important;
    color: #000;
    padding: 18px 0;
    transition: 0.3s;
}
.a-pages-b span{
    color: #000;
}
.a-pages-b span:hover{
    border-top: 1px solid #e4e4e4 !important;
    border-bottom: 1px solid #e4e4e4 !important;
    padding: 18px 0;
    transition: 0.3s;
}
.a-pages-b span i{
    color: #000 !important;
}
.a-pages-b:hover + .div-pages , .div-pages:hover{
    opacity: 1;
    visibility: visible;
}
/* end blog */
.el-button_header {
    background-color: #000;
    color: #fff;
    height: max-content;
    border-radius: 50px;
    padding: 17px 40px;
    align-self: center;
    font-size: 14px;
    cursor: pointer;
    border: none;
}
.el-button_header:hover {
    background-color: #08f;
    border: none;
    transition: 0.5s;
}
.el-left_header img {
    height: auto;
    width: 185px;
    margin-right: 50px;
}
.home-header {
    color: #000 !important;
}
.home-header:hover {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 18px 0;
    transition: 0.3s;
}
.link-header {
    margin: 0px 20px;
    padding: 10px 0px 15px;
}
.link-header span i{
  color: #a3a3a3;
  font-size: 14px;  
}
.link-header:hover span i{
    color: #000;
    transition: 0.3s;
}
.link-header:hover span{
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    color: #000;
    padding: 18px 0;
    transition: 0.3s;
}
.el-right_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-right: 20px;
    height: 80px;
}
.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border: 1px solid #e4e4e4;
    border-radius: 100%;
    position: relative;
}
.fas {
    font-size: 25px;
    color: #000;
}
.z-port {
    background-color: red;
    color: #fff;
    margin-bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 12px;
    top: 40px;
    right: 0px;
    width: 21px;
    height: 21px;
}
.div-collections{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    z-index: 100;
    width: 1265px;
    height: 320px;
    background-color: #000;
    border-radius: 20px;
    margin-top: 20px;
    left:50%;
    transform: translateX(-50%) translateY(0px);
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    opacity: 0;
}
.div-collections:hover{
    visibility: visible;
    opacity: 1;
}
.cards-div-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    height: 230px;
    width: 220px;
    margin-top: 30px;
}
.cards-div-collections:hover{
    transform: scale(1.08);
    z-index: 1;
}
.cards-div-collections:hover h3{
    color: #08f;
}
.cards-div-collections:hover img , .cards-div-collections:hover h3{
    animation: blink 0.3s 2;
}
.cards-div-collections img{
    height: auto;
    width: 80px;
    margin-top: 38px
}
.cards-div-collections h3{
    margin-top: 20px;
    font-size: 17px;
    font-weight: 800;
}
.btn-collections{
    margin-top: 50px;
    width: 130px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 20px;
    background-color: #08f;
    font-size: 12px;
    color: #fff;
    font-weight: 900;
}
.btn-collections:hover{
    background-color: #202020;
}
.a-collections:hover + .div-collections{
    visibility: visible;
    opacity: 1;
}
.div-quickfind , .div-pages , .submenues-pages{
    display: flex;
    position: fixed;
    background-color: #000;
    height: 300px;
    width: 420px;
    margin-left: 22px;
    margin-top: 20px;
    z-index: 100;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    visibility: hidden;
}
.a-quickfind:hover + .div-quickfind , .div-quickfind:hover{
    opacity: 1;
    visibility: visible;
}
.quickfind-child1{
    width: 220px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.quickfind-child1 div , .quickfind-child2 div{
    height: 80px;
    padding-top: 38px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding-left: 20px;
    margin-bottom: 10px;
}
.quickfind-child2{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.quickfind-child1 a , .quickfind-child2 a{
    color: #c7c7c7 !important;
    height: 33px;
    padding-left: 26px;
    font-size: 20px;
    transition: all 0.1s ease-in-out;
}
.quickfind-child1 a:hover , .quickfind-child2 a:hover{
    border-left: 5px solid #efefef !important;
    color: #efefef !important;
}
.div-pages{
    width: 200px !important;
    padding-top: 15px;
    flex-direction: column;
}
.a-pages:hover + .div-pages , .div-pages:hover{
    opacity: 1;
    visibility: visible;
}
.item-pages , .submenues-pages a{
    color: #c7c7c7 !important;
    height: 33px;
    padding-left: 26px;
    font-size: 20px;
    transition: all 0.1s ease-in-out; 
    font-size: 22px;
    display: flex;
    align-items: center;
}
.item-pages i{
    color: #c7c7c7 !important;
    margin-left: 60px;
    font-size: 14px;
    margin-top: 4px;
}
.item-pages:hover , .submenues-pages a:hover{
    color: #efefef !important;
    border-left: 5px solid #efefef ;
}
.select-pages{
    color: #efefef !important;
    border-left: 5px solid #efefef ;
}
.submenues-pages{
    margin-left: 200px !important;
    margin-top: 240px !important;
    height: 130px !important;
    width: 200px !important;
    flex-direction: column;
    padding-top: 15px;
}
.last-item-pages:hover + .submenues-pages , .submenues-pages:hover{
    opacity: 1;
    visibility: visible;
}
.slid-one {
    max-width: 1265px;
    width: 90%;
    display: flex;
    margin-top: 100px;
    height: max-content;
}
.slid-one-left {
    width: 48%;
    padding-left: 10px;
}
.slid-one-left h4 {
    margin-top: 40px;
    color: #898989;
    font-size: clamp(14px, 2.5vw, 26px);
    font-weight: 400;
}
.slid-one-left h1 {
    margin-top: 24px;
    font-size: clamp(35px, 4vw, 60px);
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.slid-one-left h2 {
    margin-top: 14px;
    font-size: clamp(30px, 3.5vw, 52px );
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}
.slid-one-right {
    position: relative;
    width: 52%;
    height: fit-content;
    top: -50px;
}
.slid-one-buttons {
    display: flex;
    gap: 40px;
}
.slid-one-buttons button {
    width: 185px;
    height: 54px;
    border-radius: 50px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 100px;
}
.purchase-now {
    background-color: #08f;
    border: none;
    color: #fff;
}
.purchase-now:hover {
    background-color: #000;
    transition: 0.8s;
}
.watch-video {
    background-color: #fff;
    border: 1px solid black;
    color: #000;
    font-weight: 520;
}
.watch-video:hover {
    background-color: #08f;
    border: none;
    transition: 0.8s;
    color: #fff;
}
.img-shape4 {
    height: auto;
    max-width: 500px;
    width: 100%;
    margin-top: 240px;
    margin-left: -20px;
}
.img-shape1 {
    height: auto;
    max-width: 600px;
    width: 100%;
    position: absolute;
    right: -90px;
    top: 30px;
}
.slide-2 {
    position: absolute;
    right: 10px;
    top: 75px;
    height: auto;
    max-width: 645px;
    width: 110%;
}
/* start slide 2  */
.second-slide {
    position: relative;
    display: flex;
    width: 100%;
    height: 500px;
    perspective: 1000px;
    justify-content: space-between;
}
.second-slide-left , .second-slide-right{
    height: 100%;
    width: 30%;
    position: relative;
}
.features {
    position: absolute;
    max-width: 583px;
    min-width: 380px;
    width: 33%;
    left: 33%;
}
.performance {
    position: absolute;
    text-align: right;
    height: 33%;
    width: 100%;
    right: -50px;
    z-index: 3;
}
.battery {
    position: absolute;
    text-align: right;
    height: 33%;
    top: 30%;
    width: 100%;
    z-index: 3;
}
.link {
    position: absolute;
    height: 33%;
    width: 100%;
    bottom: 0;
    right: -50px;
    text-align: right;
    z-index: 3;
}
.calender {
    position: absolute;
    height: 33%;
    width: 100%;
    left: -50px;
}
.price {
    position: absolute;
    height: 33%;
    width: 100%;
    top: 33%;
}
.watch {
    position: absolute;
    height: 33%;
    width: 100%;
    bottom: 0;
    left: -50px;
}
.performance h3, .battery h3, .link h3, .calender h3, .price h3, .watch h3 {
    font-size: 20px;
}
.performance p,
.battery p,
.link p,
.calender p,
.price p,
.watch p {
    color: #898989;
    font-size: 16px !important;
}
.icon-slide2-right{
    height: 60px;
    padding: 0 13px 13px 0;
}
.battery-div{
    padding-top: 14px;
}
.icon-slide2-right div img{
    height: auto;
    width: 50px;
}
.icon-slide2-right div {
    width: 50px;
    float: right;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
}
.icon-slide2-right:hover div {
    animation: spin 0.6s linear;
    transform: rotateY(360deg);
}
.icon-slide2 {
    height: 60px;
    padding-left: 13px;
}
.icon-slide2 div img{
    height: auto;
    width: 44px;
}
.icon-slide2 div{
    width: 50px;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
}
.icon-slide2:hover div{
    animation: spin 0.6s linear;
    transform: rotateY(360deg);
}
/* start third slide */
.third-slide {
    margin-top: 68px;
    width: 80%;
    max-width: 1265px;
    height: max-content;
}
.img-third-slide {
    height: 650px;
    max-width: 1200px;
    width: 100%;
    color: #fff;
    background-size: cover;
    background-image: linear-gradient(90deg, rgb(12 12 12 / .7), rgb(12 12 12 / .7)), url(../images/box-bg-1.jpg);
    padding: 120px 120px 66px;
    border-radius: 68px;
}
.top-shadow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-shadow div {
    background-color: #f2f2f2;
    width: 70%;
    height: 40px;
    border-radius: 70px 70px 0 0;
}
.bottom-shadow {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-shadow div{
    background-color: #f2f2f2;
    width: 70%;
    height: 40px;
    border-radius: 0 0 70px 70px;
}
.txt-third-slide1 {
    text-align: center;
    height: 110px;
}
.txt-third-slide1 h1 {
    font-size: 42px;
    font-weight: 470;
}
.txt-third-slide2 {
    text-align: center;
    height: 144px;
}
.txt-third-slide2 p {
    font-size: 19px;
}
.txt-third-slide3 {
    height: 214px;
    display: flex;
    gap: 0px;
    perspective: 1000px;
}
.circle {
    margin: 0px;
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.circle div {
    transition: transform 0.3s ease-in-out, background 0.8s ease;
    transform-style: preserve-3d;
}
.water-proof {
    margin-left: auto !important;
}
.water-proof div {
    border-radius: 100%;
    background-color: #fff;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle:hover div {
    background: black;
    transform: rotateY(360deg);
}
.circle:hover img {
    filter: brightness(0) invert(1);
}
.water-proof h3 {
    margin-top: 20px;
    font-weight: 270;
}
.battery-life div {
    border-radius: 100%;
    background-color: #fff;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.battery-life h3 {
    margin-top: 20px;
    font-weight: 270;
}
.alarm div {
    border-radius: 100%;
    background-color: #fff;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alarm h3 {
    margin-top: 20px;
    font-weight: 270;
}
.weather {
    margin-right: auto !important;
}
.weather div {
    border-radius: 100%;
    background-color: #fff;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather h3 {
    margin-top: 20px;
    font-weight: 270;
}
.div-img-shape2 {
    position: relative;
    height: 426px;
    width: 100px;
    right: -1180px;
    z-index: -4;
    margin-bottom: -300px;
}
.img-shape2 {
    position: absolute;
    right: -430px;
    top: -124px;
    height: auto;
    width: 600px;
    z-index: 3;
}
.div-img-shape5 {
    height: 500px;
    width: 300px;
    position: relative;
    margin-top: 0px;
    top: -400px;
    z-index: -40;
}
.img-shape5 {
    position: absolute;
    left: -270px;
    top: 0px;
    z-index: 3;
    height: auto;
    width: 500px;
}
/* start slide 4 */
.top-slide-four {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-top: -300px;
}
.top-slide-four-h {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 700px;
}
.top-slide-four-p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 700px;
    text-align: center;
    color: #666666;
    font-size: 18px;
}
.fo-th-middle-top {
    z-index: 2;
    text-align: center;
}
.fo-th-middle-top h3 {
    line-height: 1.4;
    font-weight: 700;
    font-size: 44px;
}
.fo-th-middle-top h3 span {
    color: #0088ff;
}
.fo-th-middle-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 4px;
    display: block;
    margin: 0 0 20px;
    z-index: -1;
}
.fo-th-bgline {
    background-color: #f2f2f2;
    width: 520px;
    height: 15px;
    margin-left: 86px;
    border-radius: 100px;
    top: -20px;
    display: block;
    position: relative;
    z-index: -2;
}
.div-img-slide4-shape5{
    position: relative;
    margin-top: 0px;
    z-index: -40;
}
.img-slide4-shape5{
    position: absolute;
    z-index: 3;
    height: auto;
    width: 500px;
    right: -900px;
}
.main-slide-four{
    max-width: 1265px;
    width: 100%;
    gap: 2.5%;
    flex-wrap: wrap;
    padding: 0 30px;
    display: flex;
    justify-content: space-evenly;
}
.cards-slide-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 470px;
    width: 23%;
    color: #000;
    background-color: #ffffff;
    border-radius: 40px;
    box-shadow: 0px 36px 60px 0px rgba(0, 0, 0, 0.1);
    text-decoration:none;
}
.top-card-1{
    position: relative;
    height: 53%;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.top-card-2{   
    position: relative;
    height: 53%;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.off-cart-2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    color: #08f;
    border-radius: 100%;
    background-color: #fff;
    font-weight: 800;
    top: 32px;
    left: 30px;
    box-shadow:-2px -2px 6px #a3a3a3;
}
.top-card-3{
    position: relative;
    height: 53%;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.top-card-4{
    position: relative;
    height: 53%;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.over-pic-slide-four{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 30px;
    width: 110px;
    height: 35px;
    top: 120px;
    visibility: hidden;
    transition: 0.3s;
}
.over-pic-slide-four a{
    border-radius: 100%;
}
.over-pic-slide-four a:hover{
    background-color: #08f;
    width: 35px;
    height: 35px;
    transition: 0.3s;
}
.over-pic-slide-four a:hover i{
    color: #fff;
    transition: 0.3s;
}
.cards-slide-four:hover .over-pic-slide-four{
    transition: 0.8s ease-in-out;
    visibility:visible;
}
.over-pic-slide-four a i{
    font-size: 13px;
}
.over-pic-slide-four a{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 100%;
    background-color: #fff;
}
.cards-slide-four h2{
    margin-top: 28px;
    font-size: 20px;
    font-weight: 500;
}
.cards-slide-four:hover h2{
    color: #0088ff;
    transition: 0.2s;
}
.img-card-1 , .img-card-2 , .img-card-3 , .img-card-4{
    height: auto;
    width: 80%;
    background-color:#f2f2f2;
    padding: 15px;
    border-radius: 200px;
}
.fa-star{
    font-size: 13px;
    color: #fb0;
}
.rating-stars { 
    font-size: 0px;
    margin-top: 10px;
}
.cards-slide-four h3{
    font-weight: 500;
    margin-top: 25px;
}
.cards-slide-four h3 sub del{
    color: #898989;
    font-size: 14px;
}
.button-card-4{
    background-color: #08f;
    color: #fff;
    padding: 8px 30px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    gap: 10px;
    margin-top: 20px;
}
.button-card-4:hover{
    background-color: #000;
    transition: 0.3s;
}
.button-card-4 i{
    color: #fff;
    font-size: 16px;
}
.slide-five{
    display: flex;
    max-width: 1265px;
    width: 100%;
    margin-top: 130px;
    justify-content: space-between;
    position: relative;
}
.img-slide5-shape1{
    position: absolute;
    z-index: 3;
    height: auto;
    width: 450px;
    left: -270px;
    top: -100px;
}
.img-slide5-shape4{
    position: absolute;
    z-index: 3;
    height: auto;
    width: 450px;
    right: -1360px;
    top: 40px;
}
.slide-five-left{
    max-width: 580px;
    width: 50%;
    padding-left: 20px;
}
.slide-five-left h6{
    font-size: 18px;
    font-weight: 500;
    color: #08f;
}
.slide-five-left h1{
    margin-top: 30px;
    margin-left: 10px;
}
.slide-five-left p{
    margin-top: 26px;
    margin-left: 10px;
    color: #a3a3a3;
    font-size: 20px;
    line-height: 36px;
}
.profile-5{
    width: 300px;
    height: 100px;
    display: flex;
}
.prof-pic{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
}
.prof-pic img{
    width: auto;
    height: 80px;
}
.prof-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.prof-txt h2{
    font-size: 20px;
    margin-left: 18px;
    margin-top: 30px;
}
.prof-txt p{
    font-size: 16px;
    margin-left: 18px;
    margin-top: 0px;
}
.slide-five-right{
    max-width: 600px;
    width: 50%;
}
.img-5-man{
    position: relative;
    height: 460px;
    width: auto;
    float: right;
    border-radius: 10px;
}
.img-5-watch{
    position: absolute;
    margin-top: 300px;
    margin-left: 20px;
    height: auto;
    width: 300px;
}
.discover{
    text-align: center;
    margin-top:90px;
 }
 .discover a{
    text-decoration: none;
    color:#0c0c0c;
    font-size: 16px;
 }
 .discover i{
    background: black;
    padding:10px;
    border-radius: 50px;
    color: white;
    font-size:15px;
    margin-right: 8px;
 }
 .discover a:hover{
    filter:blur(2px)
 }
.slide-6{
    margin-top: 300px;
    max-width: 1265px;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}
.top-shadow-6{
    position: relative;
    background-color: #f2f2f2;
    width: 80%;
    height: 40px;
    border-radius: 70px 70px 0 0;
}
.img-slide6-shape1{
    position: absolute;
    z-index: -3;
    height: auto;
    width: 500px;
    left: -370px;
    top: 180px;
}
.img-slide-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 30px;
    height: max-content;
    width: 100%;
    max-width: 1200px;
    color: #fff;
    background-size: cover;
    background-image: linear-gradient(90deg, rgb(12 12 12 / .7), rgb(12 12 12 / .7)), url(../images/box-bg.jpg);
    padding: 100px 120px 66px;
    border-radius: 80px;
}
.title-slide-6{
    font-size: 23px;
    font-weight: 470;
    margin-bottom: 50px;
}
.txt-slide-6{
    font-size: 18px;
    color: #a3a3a3;
    text-align: center;
    line-height: 32px;
}
.buttons-slide-6{
    margin-top: 65px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 550px;
}
.buttons-slide-6 button{
    height: 54px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
}
.purchase-now-6{
    width: 180px;
    transition: 0.3s;
    border: 1px solid #fff;
}
.purchase-now-6:hover{
    background-color: #08f;
    color: #fff;
    border: 1px solid #08f;
}
.Nearby-store{
    font-size: 16px;
    width: 240px;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    color: #fff;
}
.Nearby-store:hover{
    background-color: #fff;
    color: #000;
    transition: 0.3s;
}
.Nearby-store:hover i{
    -webkit-text-stroke: 1px #000;
    transition: 0.3s;
}
.outline-marker{
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-size: 14px;
    margin-right: 10px;
}
.bottom-shadow-6{
    background-color: #f2f2f2;
    width: 80%;
    height: 40px;
    border-radius:0 0 70px 70px;
}
.footer-home-div{
    max-width: 1240px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f1f2f6;
    padding: 60px 15px;
    height: 350px;
    margin-top: 125px;
    border-radius: 70px 70px 0 0;
}
.footer-first{
    height: 230px;
    width: 45%;
    padding: 0 30px;
}
.footer-first img{
    width: auto;
    height: 26px;
}
.footer-first p{
    font-size: 16px;
    color: #898989;
}
.social-media-footer{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 24px;
    height: 45px;
}
.social-media-footer a{
    color: #000;
    text-decoration: none ;
}
.twitter , .instagram , .pinterest , .facebook{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 42px;
    border-radius: 100px;
    border: 1px solid #d7d7d7;
}
.twitter:hover{
    background-color: #1da1f2;
    color: #fff;
    transition: all .2s ease-in-out;
}
.facebook:hover{
    background-color: #3b5998;
    color: #fff;
    transition: all .2s ease-in-out;
}
.instagram:hover{
    color: #fff;
    transition: all .2s ease-in-out;
    background: radial-gradient(circle at 30% 107%, 
    #fdf497 0%, #fdf497 5%, 
    #fd5949 45%, 
    #d6249f 60%, 
    #285AEB 90%);
}
.pinterest:hover{
    color: #fff;
    transition: all .2s ease-in-out;
    background-color: #e60023;
}
.last-txt{
    font-size: 14px !important;
    margin-top: 40px !important;
}
.footer-home ul{
    list-style-type:none;
    margin-top: 40px;
}
.footer-home li{
    margin-top: 6px;
}
.footer-home li a:hover{
    color: #08f;
}
.footer-home ul a{
    text-decoration: none;
    color: #898989;
}
.footer-menu{
    height: 230px;
    width: 17%;
}
.footer-support{
    height: 230px;
    width: 17%;
}
.footer-last{
    width: 17%;
    height: 230px;
}
.enter-email{
    border-radius: 20px;
    height: 42px;
    margin-top: 35px;
    border: none;
    outline: none;
    transition: all 0.2s ease;
    padding-left: 20px;
}
.subscribe-footer{
    height:40px ;
    width: 120px;
    color: #fff;
    background-color: #000;
    margin-top: 10px;
    border-radius: 40px;
    font-weight: 600;
    border: none;
}
.footer-last p{
    margin-left: 40px;
    font-size: 14px;
    margin-top: 50%;
}
.footer-last p a i{
    color: #000 ;
}
.footer-last p a:hover i{
    color: #08f ;
}
.footer-last p a{
    text-decoration: none;
    color: #898989;
}
.footer-last p a:hover{
    color: #08f;
}
.enter-email:focus{
    border: 1px solid #1da1f2;
}
/* start blog */
.addressing-blog{
    max-width: 1266px;
    width: 95%;
}
.addressing-blog div{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 120px;
    border-radius: 50px;
    margin-left: 0px;
    background-color:#00000003;
    border: 1px solid  #ddd;
}
.a-addressing{
    color: #000;
    margin-top: -3px;
}
.fa-home{
    font-size: 12px;
}
#fas-right{
    font-size: 12px;
    color: #666666;
}
.span-addressing{
    font-size: 14px;
    color: #202020;
}
.spacer{
    height: 70px;
    width: 1265px;
}
.main-blog{
    max-width: 1265px;
    width: 95%;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.main-blog-left{
    position: sticky;
    top: 100px;
    max-width: 390px;
    min-height: 1000px;
    height: max-content;
    overflow: hidden;
}
.main-blog-right{
    max-width: 830px;
}
.searh-section{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    max-width: 390px;
    height: 140px;
    background-color:#00000003;
    border: 1px solid  #f0f0f0;
    border-radius: 30px;
}
.searh-section-inp{
    border-radius: 20px;
    border: 1px solid  #d7d7d7 !important;
    color: #444;
    height: 50px;
    border: none;
    outline: none;
    transition: all 0.2s ease;
    padding-left: 20px;
    font-weight: 600;
}
.searh-section-inp:focus{
    border: 1px solid #1da1f2 !important;
}
.searh-section-btn{
    height:50px ;
    width: 100px;
    color: #fff;
    background-color: #08f;
    border-radius: 30px;
    font-weight: 600;
    border: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.searh-section-btn:hover{
    background-color: #202020;
}
.tags-cloud , .ads{
    max-width: 390px;
    min-height: 380px;
    margin-top: 50px;
    background-color:#00000003;
    border: 1px solid  #f0f0f0;
    border-radius: 30px;
    padding: 30px;
}
.tags-cloud h3{
    margin-top: 10px;
}
.hr-2{
    display: block;
    margin-top: 17px;
    width: 310px;
    float: right;
    opacity: 0.5;
}
.tags-cloud button{
    padding: 10px;
    margin-top: 10px;
    margin-right: 16px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid  #d7d7d7 !important;
    transition: all 0.1s ease-in;
}
.tags-cloud button:hover{
    color: #fff;
    background-color: #08f;
    border: none;
}
.ads-img{
    background: url(../images/ads.jpg);
    width: 310px;
    height: 240px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
}
.silence , .logo-blog , .principles-blog , .last-blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color:#00000003;
    border: 1px solid  #f0f0f0;
    border-radius: 30px;
    max-width: 830px;
}
.a-blog-imgs{
    max-width: 750px;
    width: 90%;
    margin-top: -30px;
}
.img-silence{
    max-width: 750px;
    height: 480px;
    background: url(../images/p10-780x500.jpg);
    border-radius: 20px;
}
.img-logo-blog{
    max-width: 750px;
    height: 480px;
    background: url(../images/p9-780x500.jpg);
    border-radius: 20px;
}
.img-principles-blog{
    max-width: 750px;
    height: 480px;
    background: url(../images/p8-780x500.jpg);
    border-radius: 20px;
}
.img-last-blog{
    max-width: 750px;
    height: 480px;
    background: url(../images/p7-780x500.jpg);
    border-radius: 20px;
}
.black-silence , .black-logo-blog , .black-principles-blog , .black-last-blog{
    max-width: 640px;
    width: 80%;
    height: 60px;
    background-color: #000;
    border-radius: 0 0 30px 30px;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    padding-top: 15px;
}
.silence p , .logo-blog p , .principles-blog p , .last-blog p{
    margin: 30px 70px;
    color: #666;
    font-size: 18px;
    text-align: center;
    line-height: 2rem;
}
.btn-blog{
    width: 130px;
    height: 35px;
    border-radius: 50px;
    border: none;
    background-color: #08f;
    color: #fff;
    transition: all 0.3s ease;
    margin-bottom: 40px;
}
.btn-blog:hover{
    background-color: #000;
}
.blog-right-end{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-right-end div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    gap: 20px;
}
.circle-blog1 , .circle-blog2 , .circle-blog3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.3s ease;
}
.circle-blog1{
    color: #fff;
    background-color: #000;
}
.circle-blog2 , .circle-blog3{
    background-color:#00000003;
    border: 1px solid  #f0f0f0;
}
.circle-blog2:hover , .circle-blog3:hover{
    border: none;
    background-color: #000;
    color: #fff;
}
.slide1-ab{
    display: flex;
    justify-content: space-between;
    width: 1265px;
    margin-bottom: 80px;
}
.slide1-ab-left{
    width: 600px;
}
.slide1-ab-left img{
    position: absolute;
    z-index: -3;
    height: auto;
    width: 460px;
    left: -160px;
    top: 70px;
}
.slide1-ab-left p{
    font-size: 20px;
    color: #888;
    line-height: 38px;
}
.titles-about div h3{
    line-height: 1.4;
    font-weight: 770;
    font-size: 44px;
    color: #08f;
}
.titles-about div h3 span{
    color: #000;
}
.bg-titles-about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 4px;
    display: block;
    margin: 0 0 20px;
    z-index: -1;
    position: relative;
}
.titles-about-bgline{
    background-color: #f2f2f2;
    width: 480px;
    height: 15px;
    border-radius: 100px;
    top: 0px;
    margin-left: -14px;
    margin-top: -22px;
    display: block;
    position: absolute;
    z-index: -20;
}
.end-ab1-left{
    display: flex;
    width: 100%;
}
.ab1-left-left , .ab1-left-right{
    width: 50%;
    height: 100%;
}
.circles-ab1-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #000;
    color: #fff;
    transition: all 0.1s ease-in-out;
}
.circles-ab1-left:hover{
    background-color: #08f;
}
.circles-ab1-left i{
    color: #fff;
    font-size: 26px;
}
.ab1-left-child{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}
.ab1-left-child p{
    font-size: 18px;
    font-weight: bold;
    color: #000;
}
.slide1-ab-right{
    position: relative;
}
.slide1-ab-right img{
    width: 620px;
    height: auto;
    border-radius: 5px;
}
.ab1-right-blue{
    position: absolute;
    width: 410px;
    height: 210px;
    background-color: #08f;
    border-radius: 24px;
    top: 440px;
    left: 260px;
    padding: 30px 50px;
}
.ab1-right-blue h2 , .ab1-right-blue p{
    color: #fff;
    line-height: 40px;
}
.slide1-ab-right:hover .ab1-right-blue , .ab1-right-blue:hover{
    top: 425px;
    left: 240px;
}
@media (width < 576px) {
    
}
@media (width < 768px) {
    .img-shape4{
        margin-top: 100px !important;
    }
    .slid-one-buttons button{
        margin-top: 20px !important;
        font-size: 14px;
        height: 46px;
    }
    .slid-one{
        padding-bottom: 50px;
    }
    .txt-third-slide1 h1{
        font-size: 26px;
        font-weight: 700;
    }
    .txt-third-slide1{
        height: 60px;
    }
    .cards-slide-four{
        width: 40%;
        margin-top: 20px;
    }
    .buttons-slide-6{
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        row-gap: 20px;
    }
    .title-slide-6{
        margin-bottom: 30px !important;
    }
    .title-slide-6 h1{
        font-size: 24px !important;
    }
    .footer-home-div{
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .footer-first , .footer-menu , .footer-support , .footer-last{
        width: 100%;
        text-align: center;
    }
    .social-media-footer{
        justify-content: center;
    }
    .form-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .enter-email{
        width: 80%;
        margin-bottom: 20px;
    }
    .footer-last p{
        margin-left: 0;
        margin-top: 10%;
    }
}

@media (width < 922px) {
    .el-center_header{
        width: 100%;
    }
    .second-slide{
        width: 100% !important;
        height: auto !important;
        flex-direction: column;
        align-items: center;
        top: -80px;
    }
    .second-slide-left , .second-slide-right{
        width: 100%;
    }
    .battery , .performance , .link{
        position: relative;
        right: inherit;
        padding-right: 50px;
        margin-bottom: 20px;
    }
    .calender , .price , .watch{
        position: relative;
        left: 0;
        padding-left: 50px;
        margin-bottom: 20px;
    }
    .features{
        position: relative;
        width: auto;
        left: 0;
    }
    .third-slide{
        margin-top: 0;
    }
    .img-third-slide{
        padding: 40px 40px 10px;
    }
    .txt-third-slide2{
        height: auto;
        margin-bottom: 25px;
    }
    .txt-third-slide3{
        flex-wrap: wrap;
    }
    .water-proof{
        margin-left: 0px !important;
    }
    .weather{
        margin-right: 0 !important;
    }
    .circle{
        width: 50%;
    }
    .img-card-1, .img-card-2, .img-card-3, .img-card-4 {
        width: 50% !important;
    }
    .slide-five {
        flex-direction: column;
    }
    .slide-five-left{
        padding-left: 0;
        width: 100%;
        text-align: center;
        max-width: 100%;
    }
    .profile-5{
        width: 100%;
        justify-content: center;
        margin-bottom: 30px;
    }
    .slide-five-right{
        width: 100%;
        max-width: 100%;
        position: relative;
    }
    .img-5-man{
        float: none;
        margin-left: 27%;
    }
    .img-5-watch {
        margin-top: 300px;
        margin-left: 0;
        left: 65px;
    }
    .img-slide-6{
        padding-top: 30px;
    }
}

@media (width < 1100px) {
    .header-home{
        padding: 22px 40px
    }
    .el-center_header , .el-right_header{
        display: none;
    }
    .el-left_header img{
        margin-right: 0;
    }
    .cart-header , .humber{
        display: flex;
    }
    .img-shape4{
        margin-top: 180px;
    }
    .slid-one-right{
        right: -20px;
    }
    .slid-one-left h4 {
    margin-top: 60px;
    }
    .slid-one-left h1 {
    margin-top: 0;
    }
    .slid-one-buttons button{
        margin-top: 50px;
    }
    .second-slide{
        width: 120%;
    }
    .third-slide{
        margin-top: -100px !important;
    }
    .title-slide-6 h1{
        font-size: 36px;
    }
}
@media (width < 1200px) {
    .header-home{
        align-items: flex-start;
        padding-top: 22px;
        width: 1060px;
    }
    .el-right_header{
        align-items: end;
        flex-direction: column-reverse;
        height: auto;
    }
    .el-right_header a{
        margin-right: 20px;
    }
    .el-right_header button{
        margin-bottom: 20px;
    }
    .slid-one{
        margin-top: 30px;
    }
    .slide-6{
        margin-top: 200px;
    }
}

@media (width < 1265px) {  
    .slide-2{
        right: -10px;
        top: 80px;
    }
    .main-slide-four{
        padding: 0 30px;
    }
    .img-card-1 , .img-card-2 , .img-card-3 , .img-card-4{
        width: 60%;
    }
    .top-card-1 , .top-card-2 , .top-card-3 , .top-card-4{
        height: 45%;
    }
    .cards-slide-four{
        height: 430px;
    }
    .button-card-1 , .button-card-2 , .button-card-3 , .button-card-4{
        padding: 8px 10px
    }
    .discover{
        margin-top: 50px;
    }
    .battery{
        top: 27%;
    }
    .price{
        top: 29%;
    }
    .link{
        bottom: 10%;
    }
    .watch{
        bottom: 9%;
    }
    .third-slide{
        margin-top: -70px;
    }
}

@media (width < 1400px) {
    .icon-slide2-right , .icon-slide2{
        height: 50px;
    }
}